@charset "iso-8859-1";
body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #485E48; /*dk green*/;
	color: #000000; /*black*/
}
/*===============indicates no border around any image ============*/
body img {
	border: 0px;
	text-decoration: none;
}
/* ============ margins auto center the container on the page ==========*/
#container {
	margin: 10px auto 10px auto;
	padding: 20px;
	background-color: #ffffff;
	width: 90%;
}
/*=================== styles for top banner ========================*/
#banner {
	background-position: center;
	padding: 10px;
	background-color: #FFFFFF;
	background-image: url('images/green-your-site-banner.gif');
	height: 170px;
	background-repeat: no-repeat;
	color: #000000;
}
/*=================== styles for top menu ======================*/
#topmenu {
	background-color: #FFFFFF;
	text-align: center;
	font-size: .90em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	color: inherit;
	border-top: 2px solid #242F24;
	border-bottom: 2px solid #242F24;
}
#topmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#topmenu li {
	display: inline;
	list-style-type: none;
	padding: 0px;
	padding-right: 1em;
}
/*==============all site links==============*/
a:link {
	font-weight: bold;
	color: #004145;
	background: transparent;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #000000;
	background: transparent;
	padding: 0px;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration : none;
	background: #C8DEC8;
	color: #ffffff;}
a:active {
	font-weight: bold;
	text-decoration : underline;
	background: #BFDFE2;
	color: #000000;
}
/*====================== styles for main content area =========================*/
#content {
	margin-right: 240px;
	margin-left: 240px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

/*===========content area list items==============*/
#content ul li {
	list-style-image: url('images/green-bullet-bg.gif');
	margin: 2px;
	padding: 2px;
}
#content li li {
	list-style-image: url('images/green-bullet-sm.gif');
	padding: 2px 0;
}

/* *****************************************************
Navigation Bar - Right hand side 
**************************************************** */
#rightnav {
	color: #000;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: 2px solid #242F24;
	float: right;
	background-color: #ffffff;
	width: 200px;
}
#rightnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}
#rightnav li {
	list-style: none;
	padding: 2px 0;
}
#rightnav ul li {
	text-decoration: none;
	margin-top: 2px;
}
#rightnav ul ul li {
	padding: 3px 0 3px 5px;
	font-size: 80%;
	font-weight: normal;
}
#rightnav p {
	font-size: .8em;
}
/* *****************************************************
Navigation Bar - Left hand side 
**************************************************** */

#leftnav {
	color: #000;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: 2px solid #242F24;
	float: left;
	background-color: #ffffff;
	width: 200px;
}
#leftnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}
#leftnav li {
	list-style: none;
	padding: 2px 0;
}
#leftnav ul li {
	text-decoration: none;
	margin-top: 2px;
}
#leftnav ul ul li {
	padding: 3px 0 3px 5px;
	font-size: 80%;
	font-weight: normal;
}

/*============== Styles for footer ===================*/
#footer {
	border-top: 2px solid #242F24;
	clear: both;
	padding: 5px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}
#footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}
/*================== general styles =================*/
hr {
	width: 50%;
	text-align: center;
	background-color: #004145;
	height: 5px;
}
/* =================Styles for heading tags =============== */
h1, h2, h3, h4 {
	color: #485E48; /*dk green*/;
	background-color: inherit;
}
h1 {
	font-size: 1.5em;
	background: #ABCDAB; /*lt green*/
}
h2 {
	font-size: 1em;
}
h3 {
	font-size: .9em;
}
h4 {
	font-size: .9em;
}
/*================used to center anything==============*/
.center {
	text-align: center;
}
/* ============floats images to right or left ============*/
.imgrgt {
	float: right;
	padding: 7px;
}
.imglft {
	float: left;
	padding: 7px;
}

.smtxt {
	font-size:small;
}
